[submodule "ghost/core/content/themes/casper"]
	path = ghost/core/content/themes/casper
	url = git@github.com:TryGhost/Casper.git
	ignore = all
[submodule "ghost/kg-default-cards"]
	path = ghost/kg-default-cards
	url = git@github.com:traPtitech/Koenig.git
[submodule "ghost/kg-markdown-html-renderer"]
	path = ghost/kg-markdown-html-renderer
	url = git@github.com:traPtitech/Koenig.git
[submodule "ghost/bookshelf-filter"]
	path = ghost/bookshelf-filter
	url = git@github.com:traPtitech/framework.git
